@keyframes fade
    0% 
        display: none
        opacity: 0
    
    1% 
        display: block
    
    100% 
        opacity: 1
    

@keyframes fadeout
    0% 
        display: block
        opacity: 1
    
    99% 
        opacity: 0
    
    100% 
        display: none
    

@keyframes slidein
    0% 
        transform: translateX(100%)
    
    100% 
        transform: translateX(0)
    