.c-btn
    font-size: var(--font-size-sm)
    transition: all 0.4s ease
    &:hover
        opacity: 0.6
    
    
.c-btn__target
    position: relative
    display: inline-block
    padding: var(--spacing-x-s) var(--spacing-s)
    color: var(--font-color-gray)
    &::before
        position: absolute
        display: block
        width: 0
        height: 1px
        left : 0%
        bottom: 0
        content: ""
        background-color: var(--font-color-gray)
        transform: translateX(0%)
        transition: all 0.4s ease
    &::after
        content: ""
        display: block
        padding: var(--spacing-xx-s)
        border-top: 1px solid var(--font-color-gray)
        border-right: 1px solid var(--font-color-gray)
        border-bottom: 1px solid transparent
        border-left: 1px solid transparent
        position: absolute
        right: 0
        top: 50%
        transform: translateY(-50%) translate3d(0, 0, 0) rotate(45deg)
        transition: all 0.4s ease
    @include lg
        &:hover::before
            width: 100%
        &:hover::after
            right: -5%
