.c-btn
    font-size: var(--font-size-normal)


.c-btn__target
    border-bottom: solid 1px var(--color-black)
    padding: var(--spacing-x-s)
    color: var(--color-lightgray)
    transition: all 0.2s ease
    &:hover
        opacity: 0.6