.c-title
    margin-bottom: var(--spacing-l)


.c-title__target
    padding: var(--spacing-xx-s)
    transition: all 0.2s ease
    &:hover
        opacity: 0.6


.c-title__en
    display: inline-block
    font-family: 'Josefin Sans', sans-serif
    color: var(--color-black)


.c-title__ja
    display: inline-block
    margin-left: var(--spacing-x-s)
    font-size: var(--font-size-sm)
    color: var(--color-lightgray)

