.p-billboard{
    padding-top: 130px;
}

.p-billboard__img{
    width: 100%;
    height: calc(100vh - 130px);
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .p-billboard{
        padding-top: 85px;
    }
    
    .p-billboard__img{
        height: calc(100vh - 85px);
    }
}