.p-billboard{
    padding-top: 102px;
}

.p-billboard__img{
    width: 100%;
    height: calc(100vh - 102px);
    object-fit: cover;
}

@media screen and (max-width: 1024px){
    .p-billboard{
        padding-top: 83px;
    }
    
    .p-billboard__img{
        height: calc(100vh - 85px);
    }
}

@media screen and (max-width: 414px){
    .p-billboard{
        padding-top: 57px;
    }
    
    .p-billboard__img{
        height: calc(100vh - 57px);
    }
}