.p-billboard{
    padding-top: 102px;
}

.p-billboard__img{
    width: 100%;
    height: calc(100vh - calc(102px + var(--spacing-m)));
    object-fit: cover;
}

@media screen and (max-width: 768px){
    .p-billboard{
        padding-top: 83px;
    }
    
    .p-billboard__img{
        height: calc(100vh - calc(85px + var(--spacing-m)));
    }
}

@media screen and (max-width: 414px){
    .p-billboard{
        padding-top: 57px;
    }
    
    .p-billboard__img{
        height: calc(100vh - calc(57px + var(--spacing-m)));
    }
}