.p-footer{
     padding: var(--spacing-x-l) var(--spacing-m);
}

.p-footer__cont{
    display: flex;
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: var(--spacing-s);
    text-align: center;
}

.p-footer__item{
    flex: 0 1 calc(100% / 3);
    margin-left: var(--spacing-s);
}

.p-footer__item:nth-child(1){
    margin-left: 0;
}

.p-footer__target{
    position: relative;
    display: inline-block;
    padding: var(--spacing-x-s);
    color: #868686;
}

.p-footer__target:hover{
    opacity: 0.7;
}

.p-footer__copyright{
    padding-top: var(--spacing-s);
    text-align: center;
    border-top: 1px solid #444;
}

.p-footer__copyright__text{
    font-size: var(--font-size-sm);
    color: var(--color-gray);
}



@media screen and (max-width: 414px){
    .p-footer__cont{
        flex-flow: column nowrap;
    }
    
    .p-footer__item{
        margin-left: 0;
    }
}