.p-headerbar{
    position: fixed;
    top:0;
    left: 0;
    z-index: 960;
    width: 100%;
    height: auto;
    padding-top: var(--spacing-m);
    padding-right: var(--spacing-m);
    padding-bottom: var(--spacing-s);
    padding-left: var(--spacing-m);
    background-color: #fff;
}

.p-headerbar__logo{
    margin-bottom: var(--spacing-s);
    transition: all 0.3s linear;
}

.p-headervar__nav{
    margin-bottom: var(--spacing-s);
    transition: all 0.3s linear;
}

.p-header.is-active .p-headerbar__logo,
.p-header.is-active .p-headerbar__nav{
    margin: 0;
}



@media only screen and (max-width: 1024px){
    
    .p-headerbar{
        padding-bottom: var(--spacing-m);
    }
    .p-headerbar__logo{
        margin-bottom: 0;
    }
    .p-headerbar__nav{
        display: none;
    }
}