.p-hamburger{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    z-index: 999;
    justify-content: center;
    align-items: center;
    padding: 41px var(--spacing-m);
    transition: all 0.4s linear;
}

.p-hamburger__item{
    position: relative;
    width: 50px;
    height: 20px;
    cursor: pointer;
}

.p-hamburger__lines-top, 
.p-hamburger__lines-middle, 
.p-hamburger__lines-bottom{
    position: absolute;
    display: block;
    width: 100%;
    height: 1px;
    border-radius: 3px;
    content: "";
    cursor: pointer;
    background-color: black;
    transition: all 0.4s ease;
}

.p-hamburger__lines-top{
    top: 0;
}

.p-hamburger__lines-middle{
    top: 43%;
}

.p-hamburger__lines-bottom{
    bottom: 0;
}

.p-hamburger__item.is-active .p-hamburger__lines-top{
    transform: translateY(10px) rotate(45deg);
}

.p-hamburger__item.is-active .p-hamburger__lines-middle{
    opacity: 0;
}

.p-hamburger__item.is-active .p-hamburger__lines-bottom{
    transform: translateY(-10px) rotate(-45deg);
}


@media screen and (min-width: 1024px){
    .p-header.is-active .p-hamburger{
        padding: 34px var(--spacing-m);
    }
}

@media screen and (max-width: 1024px){
    
    .p-hamburger{
        padding: 31px var(--spacing-m);
    }
    .p-hamburger__item{
        width: 40px;
    }
}
    
@media screen and (max-width: 414px){
    
    .p-hamburger{
        padding: 18px var(--spacing-m);
    }
    
    .p-hamburger__item{
        width: 30px;
    }
}