.p-index-title__target{
    padding: var(--spacing-x-s);
    transition: 0.3s;
}

.p-index-title__target:hover{
    opacity: 0.7;
    transition: 0.3s;
}

.p-index-title__en{
    display: inline-block;
}

.p-index-title__ja{
    margin-left: var(--spacing-x-s);
    font-size: var(--font-size-sm);
    font-weight: bold;
}