.p-index-title{
    margin-bottom: var(--spacing-l);
}

.p-index-title__target{
    padding: var(--spacing-xx-s);
    transition: all 0.2s ease;
}

.p-index-title__target:hover{
    opacity: 0.6;
}

.p-index-title__en{
    display: inline-block;
}

.p-index-title__ja{
    margin-left: var(--spacing-x-s);
    font-size: var(--font-size-sm);
}