.p-logo{
    text-align: center;
    transition: all 0.3s linear;
}

.p-header.is-active .p-logo{
    font-size: var(--font-size-normal);
}

@media screen and (max-width: 1024px){
    .p-logo{
        text-align: left;
    }
}

@media screen and (max-width: 414px){
    
}