.p-nav{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    max-width: 880px;
    margin-right: auto;
    margin-left: auto;
    transition: all 0.5s;
}

.p-nav__item{
    flex: 0 1 calc(100% / 6);
    text-align: center;
    font-size: var(--font-size-normal);
}

.p-nav__target{
    position: relative;
    display: inline-block;
    padding: var(--spacing-s);
    color: #000;
}

.p-nav__target::after{
    position: absolute;
    display: block;
    width: 0;
    height: 1px;
    left : 50%;
    bottom: 0;
    content: "";
    background-color: #000;
    transition: 0.5s all;
    transform: translateX(-50%);
}

.p-nav__target:hover::after{
    width: 100%;
}

@media screen and (max-width: 1024px){
    
}