.p-sec-concept__box-01{
    order: 1;
}

.p-sec-concept__box-02{
    order: 4;
}

.p-sec-concept__description-01{
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 0 1 40%;
    order: 2;
    padding: var(--spacing-m);
    height: 100%;
}

.p-sec-concept__description-02{
    display: flex;
    justify-items: center;
    align-items: center;
    flex: 0 1 40%;
    order: 3;
    padding: var(--spacing-m);
    height: 100%;

}

.p-sec-concept__heading{
    padding: var(--spacing-x-s);
    border-bottom: solid 1px black;
}

.p-sec-concept__text{
    padding: var(--spacing-x-s);
}

@media screen and(max-width: 768px){
    .p-sec-concept__box-01{
        order: 1;
    }
    
    .p-sec-concept__box-02{
        order: 3;
    }
    
    .p-sec-concept__description-01{
        order: 2;
    }
    
    .p-sec-concept__description-02{
        order: 4;
    }
}