.p-sec-collections{
    margin-bottom: var(--spacing-xx-l);
}

.p-sec-collections__list{
    display: flex;
}

.p-sec-collections__item{
    flex: 0 1 calc(100% / 2);
    margin-left: var(--spacing-m);
}





@media screen and (max-width: 1024px){
    
}