.l-header{
    max-width: 100%;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: var(--spacing-m);
    padding-left: var(--spacing-m);
    padding-bottom: var(--spacing-m);
}