/*Foundation*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  border-font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  vertical-align: middle;
}

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  line-height: 1.6;
  font-family: 'arial', serif;
  font-feature-settings: "palt";
  font-size: 1.4em;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.8);
}

img {
  max-width: 100%;
  height: auto;
  line-height: 0;
}

:root {
  --font-size-sm: 14px;
  --font-size-normal: 16px;
  --font-size-lg: 24px;
  --font-size-x-lg: 32px;
  --font-size-xx-lg: 48px;
  --font-size-xxx-lg: 64px;
  --spacing-xx-s: 4px;
  --spacing-x-s: 8px;
  --spacing-s: 16px;
  --spacing-m: 32px;
  --spacing-l: 64px;
  --spacing-x-l: 128px;
  --spacing-xx-l: 256px;
  --color-base: #f7f6f5;
  --color-main: #fff;
  --color-black: #0d0d0d;
  --font-color-red: #f95b5b;
  --font-color-gray: #606060;
}

@media (max-width: 768px) {
  :root {
    --font-size-sm: 12px;
    --font-size-normal: 14px;
    --font-size-lg: 22px;
    --font-size-x-lg: 28px;
    --font-size-xx-lg: 44px;
    --font-size-xxx-lg: 56px;
    --spacing-xx-s: 3px;
    --spacing-x-s: 6px;
    --spacing-s: 12px;
    --spacing-m: 24px;
    --spacing-l: 48px;
    --spacing-x-l: 96px;
    --spacing-xx-l: 192px;
  }
}

@media (max-width: 414px) {
  :root {
    --font-size-sm: 10px;
    --font-size-normal: 12px;
    --font-size-lg: 16px;
    --font-size-x-lg: 24px;
    --font-size-xx-lg: 32px;
    --font-size-xxx-lg: 48px;
    --spacing-xx-s: 2px;
    --spacing-x-s: 4px;
    --spacing-s: 8px;
    --spacing-m: 16px;
    --spacing-l: 32px;
    --spacing-x-l: 64px;
    --spacing-xx-l: 128px;
  }
}

p {
  font-size: var(--font-size-normal);
}

h4 {
  font-size: var(--font-size-lg);
}

h3 {
  font-size: var(--font-size-x-lg);
}

h2 {
  font-size: var(--font-size-xx-lg);
}

h1 {
  font-size: var(--font-size-xxx-lg);
}

/*Foundation*/
/*Layout*/
.l-container {
  width: 100%;
  height: 100%;
  margin-right: auto;
  margin-left: auto;
  opacity: 0;
  -webkit-animation: fade 1s linear normal 1 forwards;
          animation: fade 1s linear normal 1 forwards;
}

.l-container.is-active {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
}

.l-header {
  max-width: 100%;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
  padding-bottom: var(--spacing-m);
}

.l-main {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: var(--spacing-m);
  padding-left: var(--spacing-m);
  background-color: var(--color-base);
}

.l-footer {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding: var(--spacing-m);
  background-color: var(--color-main);
}

/*Layout*/
/*Object*/
/*Component*/
.c-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.c-col__1 {
  grid-column: span 1;
}

.c-col__2 {
  grid-column: span 2;
}

.c-col__3 {
  grid-column: span 3;
}

.c-col__4 {
  grid-column: span 4;
}

.c-col__5 {
  grid-column: span 5;
}

.c-col__6 {
  grid-column: span 6;
}

.c-col__7 {
  grid-column: span 7;
}

.c-col__8 {
  grid-column: span 8;
}

.c-col__9 {
  grid-column: span 9;
}

.c-col__10 {
  grid-column: span 10;
}

.c-col__11 {
  grid-column: span 11;
}

.c-col__12 {
  grid-column: span 12;
}

@media (max-width: 768px) {
  .c-col__md-1 {
    grid-column: span 1;
  }
  .c-col__md-2 {
    grid-column: span 2;
  }
  .c-col__md-3 {
    grid-column: span 3;
  }
  .c-col__md-4 {
    grid-column: span 4;
  }
  .c-col__md-5 {
    grid-column: span 5;
  }
  .c-col__md-6 {
    grid-column: span 6;
  }
  .c-col__md-7 {
    grid-column: span 7;
  }
  .c-col__md-8 {
    grid-column: span 8;
  }
  .c-col__md-9 {
    grid-column: span 9;
  }
  .c-col__md-10 {
    grid-column: span 10;
  }
  .c-col__md-11 {
    grid-column: span 11;
  }
  .c-col__md-12 {
    grid-column: span 12;
  }
}

@media (max-width: 414px) {
  .c-col__sm-1 {
    grid-column: span 1;
  }
  .c-col__sm-2 {
    grid-column: span 2;
  }
  .c-col__sm-3 {
    grid-column: span 3;
  }
  .c-col__sm-4 {
    grid-column: span 4;
  }
  .c-col__sm-5 {
    grid-column: span 5;
  }
  .c-col__sm-6 {
    grid-column: span 6;
  }
  .c-col__sm-7 {
    grid-column: span 7;
  }
  .c-col__sm-8 {
    grid-column: span 8;
  }
  .c-col__sm-9 {
    grid-column: span 9;
  }
  .c-col__sm-10 {
    grid-column: span 10;
  }
  .c-col__sm-11 {
    grid-column: span 11;
  }
  .c-col__sm-12 {
    grid-column: span 12;
  }
}

.c-inner {
  max-width: 1280px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

@-webkit-keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fade {
  0% {
    display: none;
    opacity: 0;
  }
  1% {
    display: block;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes slidein {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}

@-webkit-keyframes slidein-ToptoBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes slidein-ToptoBottom {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.c-title {
  margin-bottom: var(--spacing-l);
}

.c-title__target {
  padding: var(--spacing-xx-s);
  transition: all 0.4s ease;
}

@media (min-width: 769px) {
  .c-title__target:hover {
    opacity: 0.6;
  }
}

.c-title__en {
  display: inline-block;
  color: var(--color-black);
}

.c-title__ja {
  display: inline-block;
  margin-left: var(--spacing-x-s);
  font-size: var(--font-size-sm);
  color: var(--font-color-gray);
}

.c-btn {
  font-size: var(--font-size-sm);
  transition: all 0.4s ease;
}

.c-btn:hover {
  opacity: 0.6;
}

.c-btn__target {
  position: relative;
  display: inline-block;
  padding: var(--spacing-x-s) var(--spacing-s);
  color: var(--font-color-gray);
}

.c-btn__target::before {
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  left: 0%;
  bottom: 0;
  content: "";
  background-color: var(--font-color-gray);
  transform: translateX(0%);
  transition: all 0.4s ease;
}

.c-btn__target::after {
  content: "";
  display: block;
  padding: var(--spacing-xx-s);
  border-top: 1px solid var(--font-color-gray);
  border-right: 1px solid var(--font-color-gray);
  border-bottom: 1px solid transparent;
  border-left: 1px solid transparent;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%) translate3d(0, 0, 0) rotate(45deg);
  transition: all 0.4s ease;
}

@media (min-width: 769px) {
  .c-btn__target:hover::before {
    width: 100%;
  }
  .c-btn__target:hover::after {
    right: -5%;
  }
}

.c-section {
  margin-bottom: var(--spacing-xx-l);
}

.c-section:nth-last-child(1) {
  margin-bottom: 0;
}

.c-decoration--line {
  position: relative;
  display: inline-block;
  padding: var(--spacing-xx-s);
  color: var(--color-black);
}

.c-decoration--line::after {
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  left: 0%;
  bottom: 0;
  content: "";
  background-color: #000;
  transition: all 0.4s ease;
  transform: translateX(0%);
}

/*Component*/
/*Project*/
@media (min-width: 769px) {
  .p-header.is-active .p-logo {
    font-size: var(--font-size-normal);
  }
  .p-header.is-active .p-hamburger {
    padding: 34px var(--spacing-m);
  }
}

.p-headerbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 980;
  width: 100%;
  height: auto;
  padding: var(--spacing-m);
  background-color: var(--color-main);
}

.p-logo {
  text-align: center;
  font-weight: bold;
  font-family: 'Josefin Sans', sans-serif;
  transition: all 0.4s ease;
}

@media (max-width: 768px) {
  .p-logo {
    text-align: left;
  }
}

.p-hamburger {
  position: fixed;
  display: flex;
  top: 0;
  right: 0;
  z-index: 999;
  justify-content: center;
  align-items: center;
  padding: 41px var(--spacing-m);
  transition: all 0.4s ease;
}

.p-hamburger.is-active .p-hamburger__lines-top {
  transform: translateY(9px) rotate(45deg);
}

.p-hamburger.is-active .p-hamburger__lines-middle {
  opacity: 0;
}

.p-hamburger.is-active .p-hamburger__lines-bottom {
  transform: translateY(-10px) rotate(-45deg);
}

@media (max-width: 768px) {
  .p-hamburger {
    padding: 32px var(--spacing-m);
  }
  .p-hamburger.is-active .p-hamburger__lines-top {
    transform: translateY(8px) rotate(45deg);
  }
  .p-hamburger.is-active .p-hamburger__lines-bottom {
    transform: translateY(-9px) rotate(-45deg);
  }
}

@media (max-width: 414px) {
  .p-hamburger {
    padding: 20px var(--spacing-m);
  }
  .p-hamburger.is-active .p-hamburger__lines-top {
    transform: translateY(7px) rotate(45deg);
  }
  .p-hamburger.is-active .p-hamburger__lines-bottom {
    transform: translateY(-8px) rotate(-45deg);
  }
}

.p-hamburger__item {
  position: relative;
  width: 50px;
  height: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .p-hamburger__item {
    width: 40px;
    height: 18px;
  }
}

@media (max-width: 414px) {
  .p-hamburger__item {
    width: 30px;
    height: 16px;
  }
}

.p-hamburger__lines-top,
.p-hamburger__lines-middle,
.p-hamburger__lines-bottom {
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 3px;
  content: "";
  cursor: pointer;
  background-color: var(--color-black);
  transition: all 0.4s ease;
}

.p-hamburger__lines-top {
  top: 0;
}

.p-hamburger__lines-middle {
  top: 45%;
}

.p-hamburger__lines-bottom {
  bottom: 0;
}

.p-billboard {
  padding-top: 102px;
}

@media (max-width: 768px) {
  .p-billboard {
    padding-top: 83px;
  }
}

@media (max-width: 414px) {
  .p-billboard {
    padding-top: 57px;
  }
}

.p-billboard__img {
  width: 100%;
  height: calc(100vh - calc(102px + var(--spacing-m)));
  -o-object-fit: cover;
     object-fit: cover;
}

@media (max-width: 768px) {
  .p-billboard__img {
    height: calc(100vh - calc(85px + var(--spacing-m)));
  }
}

@media (max-width: 414px) {
  .p-billboard__img {
    height: calc(100vh - calc(57px + var(--spacing-m)));
  }
}

.p-mobilemenu {
  position: fixed;
  flex-flow: column nowrap;
  justify-content: center;
  top: 0;
  right: 0;
  z-index: 990;
  display: none;
  width: 50%;
  height: 100%;
  padding: var(--spacing-l);
  background-color: var(--color-main);
}

.p-mobilemenu.is-active {
  display: flex;
  -webkit-animation: slidein 0.4s ease-in forwards;
          animation: slidein 0.4s ease-in forwards;
}

@media (max-width: 768px) {
  .p-mobilemenu {
    width: 70%;
  }
}

@media (max-width: 414px) {
  .p-mobilemenu {
    width: 100%;
  }
  .p-mobilemenu.is-active {
    -webkit-animation: slidein-ToptoBottom 0.4s ease-in forwards;
            animation: slidein-ToptoBottom 0.4s ease-in forwards;
  }
}

.p-mobilemenu__nav {
  padding: var(--spacing-m);
}

.p-mobilemenu__nav__item {
  opacity: 0;
  padding: var(--spacing-s);
  font-size: var(--font-size-lg);
}

.p-mobilemenu__nav__item:nth-child(1) {
  -webkit-animation: fade 0.4s ease-in-out 0.5s normal 1 forwards;
          animation: fade 0.4s ease-in-out 0.5s normal 1 forwards;
}

.p-mobilemenu__nav__item:nth-child(2) {
  -webkit-animation: fade 0.4s ease-in-out 0.6s normal 1 forwards;
          animation: fade 0.4s ease-in-out 0.6s normal 1 forwards;
}

.p-mobilemenu__nav__item:nth-child(3) {
  -webkit-animation: fade 0.4s ease-in-out 0.7s normal 1 forwards;
          animation: fade 0.4s ease-in-out 0.7s normal 1 forwards;
}

.p-mobilemenu__nav__item:nth-child(4) {
  -webkit-animation: fade 0.4s ease-in-out 0.8s normal 1 forwards;
          animation: fade 0.4s ease-in-out 0.8s normal 1 forwards;
}

.p-mobilemenu__nav__item:nth-child(5) {
  -webkit-animation: fade 0.4s ease-in-out 0.9s normal 1 forwards;
          animation: fade 0.4s ease-in-out 0.9s normal 1 forwards;
}

.p-mobilemenu__nav__item:nth-child(6) {
  -webkit-animation: fade 0.4s ease-in-out 1.0s normal 1 forwards;
          animation: fade 0.4s ease-in-out 1.0s normal 1 forwards;
}

@media (max-width: 414px) {
  .p-mobilemenu__nav__item {
    text-align: center;
  }
}

.p-mobilemenu__nav__target {
  position: relative;
  display: inline-block;
  padding: var(--spacing-xx-s);
  color: var(--color-black);
}

.p-mobilemenu__nav__target::after {
  position: absolute;
  display: block;
  width: 0;
  height: 1px;
  left: 0%;
  bottom: 0;
  content: "";
  background-color: #000;
  transition: all 0.4s ease;
  transform: translateX(0%);
}

@media (min-width: 769px) {
  .p-mobilemenu__nav__target:hover::after {
    width: 100%;
  }
}

.p-mobilemenu__sns {
  padding: var(--spacing-m);
}

.p-mobilemenu__sns__item {
  overflow: hidden;
  opacity: 0;
  padding: var(--spacing-s);
  font-size: var(--font-size-normal);
  -webkit-animation: fade 0.4s ease-in-out 1.1s normal 1 forwards;
          animation: fade 0.4s ease-in-out 1.1s normal 1 forwards;
}

@media (max-width: 414px) {
  .p-mobilemenu__sns__item {
    text-align: center;
  }
}

.p-mobilemenu__sns__target {
  padding: var(--spacing-xx-s);
  color: var(--color-black);
  transition: all 0.4s ease;
}

@media (min-width: 769px) {
  .p-mobilemenu__sns__target:hover {
    opacity: 0.6;
  }
}

.p-mobilemenu-overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  z-index: 980;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
}

.p-mobilemenu-overlay.is-active {
  display: block;
  -webkit-animation: fade 0.4s ease-in-out forwards;
          animation: fade 0.4s ease-in-out forwards;
}

.p-main {
  padding-top: var(--spacing-x-l);
  padding-bottom: var(--spacing-xx-l);
}

.p-sec-topics__cont {
  grid-gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.p-sec-topics__btn {
  text-align: right;
  padding: var(--spacing-s);
}

.p-sec-topics__item {
  padding: var(--spacing-s);
  background-color: var(--color-main);
}

.p-sec-topics__box {
  position: relative;
}

@media (min-width: 769px) {
  .p-sec-topics__box__target:hover .p-sec-topics__box__mask {
    opacity: 1;
  }
}

.p-sec-topics__box__img {
  width: 100%;
  height: auto;
}

.p-sec-topics__box__mask {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease-in-out;
}

.p-sec-topics__box__text {
  color: var(--color-black);
}

.p-sec-topics__caption {
  padding-top: var(--spacing-s);
}

.p-sec-topics__caption__heading {
  font-size: var(--font-size-sm);
  color: var(--color-black);
}

.p-sec-topics__caption__target {
  transition: all 0.4s ease;
}

@media (min-width: 769px) {
  .p-sec-topics__caption__target:hover {
    opacity: 0.6;
  }
}

.p-sec-topics__caption__day {
  font-size: var(--font-size-sm);
  color: var(--font-color-gray);
}

.p-sec-topics__caption__icon {
  margin-right: var(--spacing-x-s);
  font-size: var(--font-size-sm);
  color: var(--font-color-red);
}

.p-sec-recommend__cont {
  grid-template-rows: auto;
  grid-gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.p-sec-recommend__btn {
  text-align: right;
  padding: var(--spacing-s);
}

.p-sec-recommend__item__img {
  width: 100%;
  height: auto;
}

.p-sec-recommend__item {
  transition: all 0.4s ease-in-out;
}

@media (min-width: 769px) {
  .p-sec-recommend__item:hover {
    opacity: 0.6;
  }
}

.p-sec-collections__cont {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin-bottom: var(--spacing-s);
}

@media (max-width: 768px) {
  .p-sec-collections__cont {
    flex-flow: column nowrap;
  }
}

.p-sec-collections__btn {
  text-align: right;
  padding: var(--spacing-s);
}

.p-sec-collections__item {
  flex: 0 1 calc(100% / 2);
  padding: var(--spacing-m);
  background-color: var(--color-main);
}

.p-sec-collections__item:nth-child(2) {
  margin-left: var(--spacing-m);
}

@media (max-width: 768px) {
  .p-sec-collections__item {
    margin-bottom: var(--spacing-l);
  }
  .p-sec-collections__item:nth-child(2) {
    margin-left: 0;
    margin-bottom: 0;
  }
}

.p-sec-collections__box {
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (min-width: 769px) {
  .p-sec-collections__box__target:hover .p-sec-collections__box__img {
    transform: scale(1.1);
  }
  .p-sec-collections__box__target:hover .p-sec-collections__box__mask {
    opacity: 1;
  }
}

.p-sec-collections__box__img {
  width: 100%;
  height: auto;
  transition: all 1s cubic-bezier(0.58, -0.09, 0.4, 0.95);
}

.p-sec-collections__box__mask {
  position: absolute;
  opacity: 0;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  transition: all 0.4s ease-in-out;
}

.p-sec-collections__box__mask__text {
  text-align: center;
}

.p-sec-collections__caption {
  padding-top: var(--spacing-m);
}

@media (min-width: 769px) {
  .p-sec-collections__caption__target:hover .p-sec-collections__caption__text {
    opacity: 0.6;
  }
  .p-sec-collections__caption__target:hover .c-decoration--line::after {
    width: 100%;
  }
}

.p-sec-collections__caption__heading,
.p-sec-collections__caption__text {
  text-align: center;
  transition: all 0.4s ease;
}

.p-sec-gallery__cont {
  grid-gap: var(--spacing-s);
  margin-bottom: var(--spacing-s);
}

.p-sec-gallery__btn {
  text-align: right;
  padding: var(--spacing-s);
}

.p-sec-gallery__item {
  text-align: center;
  padding: var(--spacing-x-s);
  background-color: var(--color-main);
}

.p-sec-gallery__item img {
  width: 100%;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  transition: all 0.4s ease-in-out;
}

@media (min-width: 769px) {
  .p-sec-gallery__item img:hover {
    -webkit-filter: grayscale(0);
            filter: grayscale(0);
  }
}

.p-footer {
  padding-top: var(--spacing-x-l);
  padding-bottom: var(--spacing-x-l);
}

.p-footer__cont {
  display: flex;
  justify-content: space-around;
  max-width: 880px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: var(--spacing-m);
}

.p-footer__icon__target {
  transition: all 0.4s ease;
}

@media (min-width: 769px) {
  .p-footer__icon__target:hover {
    opacity: 0.6;
  }
}

.p-footer__icon__img {
  width: 40px;
}

@media (max-width: 768px) {
  .p-footer__icon__img {
    width: 30px;
  }
}

@media (max-width: 414px) {
  .p-footer__icon__img {
    width: 20px;
  }
}

.p-footer__copyright {
  padding-top: var(--spacing-s);
  text-align: center;
  border-top: 1px solid var(--font-color-gray);
}

.p-footer__copyright__text {
  font-size: var(--font-size-sm);
  color: var(--font-color-gray);
}

/*Project*/
/*Utility*/
/*Utility*/
/*Object*/
/*# sourceMappingURL=map/style.css.map */
